.page {
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.page__container {
  max-width: 1600px;
  padding-top: 45px;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 546px) {
  .page__container {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
