.profile {
  margin-top: 40px;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 120px 2fr 150px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "image info-wrapper add-button"
    "image info-wrapper add-button";
}

.profile__info-wrapper {
  grid-area: info-wrapper;
  align-self: center;
  padding-left: 30px;
}

.profile__image {
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  grid-area: image;
}

.profile__name {
  display: inline-block;
  margin: 0;
  max-width: 880px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
  grid-area: name;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  transition: ease-in-out 0.1s;
  margin-bottom: 10px;
  margin-left: 18px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__subtitle {
  margin: 0;
  width: fit-content;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  transition: ease-in-out 0.1s;
  grid-area: add-button;
  align-self: center;
  justify-self: end;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 706px) {
  .profile__add-button {
    width: 75px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 4px;
  }

  .profile__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 524px) {
  .profile {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile__image {
    margin-top: 42px;
  }

  .profile__info-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  .profile__name {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .profile__subtitle {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
    margin-top: 4px;
  }

  .profile__add-button {
    height: 50px;
    width: 282px;

  }
}
