.profile {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 51px;
  display: grid;
  grid-template-columns: 120px 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "image profile-name add-button"
    "image subtitle add-button";
}

.profile__image {
  border-radius: 50%;
  grid-area: image;
  align-self: center;
}

.profile__name {
  grid-area: profile-name;
  align-self: self-end;
  margin: 0;
  padding-left: 20px;
  width: fit-content;
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.14;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  border-radius: 2px;
  transition: ease-in-out 0.1s;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__subtitle {
  grid-area: subtitle;
  align-self: self-start;
  margin: 0;
  width: fit-content;
  padding-left: 20px;
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: 10px;
  grid-area: add-button;
  align-self: center;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: ease-in-out 0.1s;
  margin-bottom: 51px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 697px) {
  .profile__add-button {
    width: 75px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 1.2;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__subtitle {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 447px) {
  .profile {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }

  .profile__name {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }

  .profile__subtitle {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
  }

  .profile__add-button {
    height: 50px;
    width: 282px;
    margin-bottom: 36px;
  }
}
